/*--------------------
    RESET
--------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}        
/*--------------------
    GENERAL
--------------------*/  
.wrapper{
    max-width: 1180px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.rectangle-1{
    min-width: 60%;
    min-height: 400px;
    background-color: #1e90ff;
    margin: 0 auto;
    border: 3px dashed black;
}

.rectangle-2{
    min-width: 40%;
    min-height: 400px;
    background-color: #ffc0cb;
    margin: 0 auto;
    border: 3px dashed black;
}

.btn{
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 30px;
}
/*--------------------
    TYPOGRAPHY
--------------------*/  
h1, h2, h3{
    font-size: 56px;
    padding-bottom: 30px;
    font-weight: bold;
}
p{
    font-size: 20px;
    padding-bottom: 15px;
}
header{
    color: #ffffff;
}
/*--------------------
    BACKGROUND
--------------------*/
.bg-gen{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    padding: 45px 0px;
}

.blue{
    background-color: #00008b;
}

.lightgrey{
    background-color: #d3d3d3;
}

/*--------------------
    HEADER
--------------------*/
header{
    min-height: 60px;
    background-color: #3261E0;
    padding: 20px 0px;
}
.container-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: 0 auto;
}
.col-20{
    width: 20%;
    padding: 10px;
    /* border: 3px dashed black; */
}
.col-60{
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 10px;
    /* border: 3px dashed black; */
}
.container-link > :last-child{
    text-align: end;
}
.col-20 a{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px 16px;
    text-decoration: none;
}
.list-header{
    display: flex;
}
.list-header li{
    padding: 0px 20px;
    list-style: none;
}
/*--------------------
    MAIN
--------------------*/
.pink{
    background-color: #ee82ee;
    max-width: 60%;
}
.bg-gen.lightgrey .wrapper {
    flex-direction: row-reverse;
}
.green{
    background-color: #228b22;
    max-width: 1180px;
    min-height: 800px;
}
/*--------------------
    FOOTER
--------------------*/
footer{
    background-color: #23272a;
}
.widget{
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px 0px; 
    /* border-bottom: 1px solid; */
}
.rectangle-container {
    display: flex;
}
.rectangle {
    min-height: 600px;
    border: 2px dashed black;
}
.rectangle-main {
    width: 40%;
    background-color: salmon;
}
.rectangle-small {
    width: calc(60% / 4);
    background-color: #20b2aa;
    border: 2px dashed #ffffff;
}
.divider {
    height: 1px;
    background-color: white; 
}

.widget .container-link{
    background-color: #7fffd4;
}
.container-link.footer div{ 
    padding: 2px 5px;
    background-color: #ffb6c1;
    border: 2px dashed black;
}